* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: rgb(86,66,61);
    font-family: 'Nunito', sans-serif;
    color: black;
    overflow-x: hidden;
}
/* Animendar Title */

.all > .title {
    color: white;
    background: #56423D ;
    text-align: center ;
    padding: 20px;
}

.title img {
    width: 60px;
}

.title h1 {
    font-size: 2.5em;
}

.title img,
.title h1 {
    display: inline-block;
    vertical-align: bottom;
}

/* all days in calendar (style) */
.days {
    background: #F9E0D9;
    width: 90%;
    max-width: 100%;
    margin: 1.5em auto;
}

/* just calendar grid */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0px 10px 24px 2px rgba(0,0,0,0.65);
}

/* style to all h1 (name of days) */
.calendar h1 {
    display: block;
    color: black;
    font-size: 1em;
    text-align: center;
    background-color: #BEA6A0;
    margin: 0;
}

.calendar .daybox {
    display: grid;
    grid-template-rows: repeat(5, 220px);
    margin: 10px auto;
    row-gap: 1em;
}

.subgrid {
    border: #BEA6A0 1px solid;
}

/* "animeBox" style a box of anime day */

.animeBox {
 padding: 5px;
}

.daybox div {
    transition: all 0.3s ease-in-out ;
}

.daybox div:hover{ 
    cursor: pointer;
    background: rgba(0, 0, 0, 0.151);
    opacity: .8;
}

/* style to all p (name of anime) */

.animeBox p {
    height: 100%;
    color: black;
    text-align: center;
    padding: 2px;
}

/* style to all img (img at anime) */
.daybox img {
    width: 100px ; 
    display: block;
    margin: auto;
}

/* style to footer web */
.footer {
    background: #BEA6A0;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

/* style of navigation bar */
.navigation ul {
    background-color: #BEA6A0;
    list-style-type: none;
    list-style: none;
    text-align: center;
    margin: auto 5%;
    border: #BEA6A0 1px solid;
}

.navigation li {
    display: inline;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
    color:#56423D;
    padding: 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out ;

}

/* effect to nav bar*/
li a:hover {
    background-color: #56423D;
    color: #BEA6A0;
}

/* ------ Style US page -------*/

.us-box {
    background: #F9E0D9;
    width: 90%;
    height: 500px;
    max-width: 100%;
    margin: 1.5em auto;
}

.us-box h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.us-box p {
    text-align: center;
    font-size: 1em;
    margin: 10px;
}

@media screen and (max-width: 820px) {

    .navigation {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .header {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    img {

        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .calendar {
        grid-template-columns: auto;
    }

    .calendar .daybox {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .subgrid {
        border: none;
    }
}

/* Quitar html al final de una pagina, fix footer, resize image*/