* {
    margin: 0;
    padding: 0;
    user-select: none; 
}

body {
    background: rgb(86,66,61);
    font-family: 'Nunito', sans-serif;
    color: black;
    
}
/* Animendar Title */
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.5em;
}

/* all days in calendar (style) */
.days {
    background: #F9E0D9;
    width: 90%;
    max-width: 100%;
    margin: 1.5em auto;
}

/* just calendar grid */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* style to all h1 (name of days) */
.calendar h1 {
    display: block;
    color: black;
    font-size: 1em;
    text-align: center;
    background-color: #BEA6A0;
    margin: 0;
}

.calendar .daybox {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    margin: 20px auto;
    row-gap: 1em;
}

.subgrid {
    border: #BEA6A0 1px solid;
}

/* style to all p (name of anime) */
.calendar p {
    color: black;
    font-size: 1em;
    font-weight: 600 ;
    text-align: center;
}

/* style to all img (img at anime) */
.calendar img {
    width: 100px;
    display: block;
    margin: auto;
}

/* style to title and footer web */
.all > .title {

    color: white;
    background: #56423D ;
    text-align: center ;
    padding: 5px;
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    width:100%;
    height: 20px;
    background: #BEA6A0;
    text-align: center;
    padding: 5px;
}

/* style of navigation bar */
.navigation {
    background: #BEA6A0;
    color: black;
    font-size: 1em;
    text-align: center;
    
}

/* style of elemnts at nav bar */
.navigation li {
    display: inline-block;
    padding: 10px;
    margin: auto 5%;

    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.navigation li a {
    color: black;
    outline: none;
    list-style: none;
    text-decoration: none;
}

/* effect to nav bar*/
.navigation li:hover
{
    cursor: pointer;
    color: #BEA6A0;
    background: #56423D;
}

.navigation li:active 
{
    color: black;
    background:#BEA6A0;
}

/* ------ Style US page -------*/

.us-box {
    background: #F9E0D9;
    width: 90%;
    height: 500px;
    max-width: 100%;
    margin: 1.5em auto;
}

.us-box h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.us-box p {
    text-align: center;
    font-size: 1em;
    margin: 10px;
}

@media screen and (max-width: 900px) {

    .navigation {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .header {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    img {

        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .calendar {
        grid-template-columns: auto;
    }

    .calendar .daybox {
        grid-template-columns: repeat(3, 1fr);       
        grid-template-rows: auto; 
    }

    .subgrid {
        border: none;
    }
}