* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    color: black;
    overflow-x: hidden;
}

/* root colors css */
:root {
    /*background*/
    --background: #fcfefe;
    --footer: #66bfbf;
    --usbox: #eaf6f6;
    /*navbar*/
    --navback: #66bfbf;
    --navhoverback: #fcfefe ;
    --navhovercolor: #66bfbf;
    /* calendar */
    --calendarback: #f76b8a;
    --daysback: #eaf6f6;
    --subgridborder: #f76b8a;
    --dayboxhover: #f76b895d;
    /* Titles and text */
    --title: #f76b8a;
    --calendarh1: #fcfefe;
    --animeboxcolor: black;
    --navigationcolor: #fcfefe;
    --footercolor: #fcfefe;
}

/* Animendar Title */
.all > .title {
    color: var(--title);
    text-align: center ;
    padding: 20px;
}

.title img {
    width: 60px;
}

.title h1 {
    font-size: 2.5em;
    text-shadow: 0px 0px 20px #f76b89ea ;
    transition: text-shadow 2s ease;
}

.title img,
.title h1 {
    display: inline-block;
    vertical-align: bottom;
}

/* all days in calendar (style) */

/* just calendar grid */
.calendar {
    background: var(--daysback);
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0px 10px 24px 2px rgba(0, 0, 0, 0.322);
    transition: box-shadow 2s ease;

    border-right: var(--subgridborder) 4px solid;
    border-bottom: var(--subgridborder) 4px solid;
}

/* style to all h1 (name of days) */
.calendar h1 {
    color: var(--calendarh1);
    font-size: 1em;
    text-align: center;
    background-color: var(--calendarback);
    padding: 15px 0;
}

.calendar .daybox {
    display: grid;
    grid-template-rows: repeat(5, 240px);
}

.daybox {
    border-left: var(--subgridborder) 4px solid;
}

/* Column for responsive grid at calendar (800px) */
.noday {
    display: none;
}

/* "animeBox" style a box of anime day */

.animeBox {
 padding: 5px;
 height: auto;
}

/* style to all img (img at anime) */
.daybox img {
    width: 100px; 
    height: 140px;
    display: block;
    margin: 5px auto;
}

.daybox div {
    transition: all 0.3s ease-in-out ;
}

.daybox div:hover{ 
    cursor: pointer;
    background: var(--dayboxhover);
    opacity: .8;
}

/* style to all p (name of anime) */

.animeBox p {
    margin: auto;
    width: auto;
    height: 101px;
    color: var(--animeboxcolor);
    text-align: center;
    border-top: var(--subgridborder) 1px solid;
}

/* style to footer web */
.footer {
    background: var(--footer);
    color: var(--footercolor);
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.footer img {
    cursor: pointer;
    display: block;
    width: 25px;
    float: left;
}

/* style of navigation bar */
.navigation ul {
    background-color: var(--navback);
    list-style-type: none;
    list-style: none;
    text-align: center;
    /*border: var(--navback) 1px solid;*/
}

.navigation li {
    display: inline;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
    color: var(--navigationcolor);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s ease-in-out ;
}

/* effect to nav bar*/
li a:hover {
    background-color: var(--navhoverback);
    color: var(--navhovercolor);
}

/* ------ Style US page -------*/

.us-box {
    background: var(--usbox);
    width: 70%;
    height: 500px;
    max-width: 100%;
    margin: 1.5em auto;
    box-shadow: 0px 10px 24px 2px rgba(0, 0, 0, 0.322);
}

.us-box h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.us-box p {
    text-align: center;
    font-size: 1em;
    margin: 10px;
}

/* test zone */



/* end test zone */
@media screen and (max-width: 820px) {

    .navigation {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .header {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        max-width: 100%;
    }

    .calendar .daybox {
        grid-template-rows: 240px;
        border: none;
    }

    .subgrid {
        border-left: var(--subgridborder) 4px solid;
    }

    /* Column for responsive grid at calendar */
    .noday {
        display: block;
        border-left: var(--subgridborder) 4px solid;
    }
    .noday h1 {
        color: var(--calendarback);
    }
}

@media screen and (max-width: 768px){
        
    .calendar {
        grid-template-columns: auto;
        margin: 20px;
        border: var(--subgridborder) 4px solid;
    }

    .calendar .daybox {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .subgrid {
        border: none;
    }
}
